<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="cs" />
        <meta name="robots" content="all,follow" />

        <meta name="author" content="All: ... [Nazev webu - www.url.cz]; e-mail: info@url.cz" />
        <meta name="copyright" content="Design/Code: Vit Dlouhy [Nuvio - www.nuvio.cz]; e-mail: vit.dlouhy@nuvio.cz" />
        <script src="https://code.jquery.com/jquery.js"></script>
        
        <title>Utah Food</title>
        
        <link rel="stylesheet" media="screen,projection" type="text/css" href="./assets/css/style.css" />
        <link rel="stylesheet" media="print" type="text/css" href="./assets/css/print.css" />
        <link rel="stylesheet" media="aural" type="text/css" href="./assets/css/aural.css" />
    </head>

	<body id="www-url-cz">
		{{{ body }}}
	</body>
</html>
